---
bodyClass: bg-slate-50
appName: "@{{ appName }}"
acceptInvitationUrl: "@{{ acceptInvitationUrl }}"
teamName: "@{{ teamName }}"
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <div class="card-title">
              <img src="https://s3.amazonaws.com/pretest.com/orchard.png" width="157" alt="pretest.com">
            </div>
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
                  Team Invitation
                </h1>

                <p class="m-0 leading-6">
                  You've been invited to join team {{{ page.teamName }}} on {{{ page.appName }}}.
                  <br>
                  <br>
                  Use the button below to accept this invitation:
                </p>

                <x-spacer height="24px" />

                <x-button href="{{{ page.acceptInvitationUrl }}}">
                  Accept Invitation &rarr;
                </x-button>

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0">
                  If you don't want to accept this invitation, you can safely ignore this email.
                  <br>
                  <br>
                  Thanks, <br />The {{{ page.appName }}} Team
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
