HASURA_GRAPHQL_ADMIN_SECRET=mydevsecret
QUEUE_UI_USER=admin
QUEUE_UI_PASS=admin
POSTGRES_PASSWORD=pgadmin
EMAIL_SENDER='"Example" <hello@example.com>'
# Mailtrap is recommended for development
AUTH_SMTP_HOST=smtp.mailtrap.io
AUTH_SMTP_PORT=2525
AUTH_SMTP_USER=TODO
AUTH_SMTP_PASS=TODO
HASURA_BASE_URL=http://localhost:8080
NODE_BASE_URL=http://host.docker.internal:3000
WEB_BASE_URL=http://localhost:9001
JWT_TOKEN_KEY=mydevsecret
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniosecret
S3_ACCESS_KEY=TODO
S3_SECRET_KEY=TODO

S3_USER_PUBLIC_ENDPOINT=user-public

# Remove S3_USER_PUBLIC_ENDPOINT if using AWS S3
S3_USER_PUBLIC_ENDPOINT=http://localhost:9000

# Include S3_USER_PUBLIC_REGION if using AWS S3
# S3_USER_PUBLIC_REGION=us-west-2

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://postgres:pgadmin@localhost:5432/postgres?schema=public"
